* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: cornflowerblue;
    background-image: url(imagens/crianca_esperanca.png);
    min-height: 1200px;
    margin-top: 10%;
}

#cabeca{
    width: 25%;
    height: 300px;
    border-radius: 50px;
    border: 1px solid blueviolet;
    text-align: center;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 3px rgb(43, 55, 223);
    background-image: url(imagens/coracao.png);
    background-size: 100% 100%;
    background-position: center;
    background-color: rgba(24, 240, 240, 0.5);
}

#cabeca h2{
    color: yellow;
    text-shadow: 3px 3px 3px green;
    font: 50px arial italic bold;
    text-decoration: underline;
    position: relative;
    top: 15%;
    text-align: center;
}
#corpo{
    width: 50%;
    height: 400px;
    border-radius: 70px;
    border: 1px solid rgba(30, 30, 145, 0.911);
    text-align: center;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 3px rgb(12, 12, 134);
    background: url(imagens/crianca-feliz.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-color: rgba(17, 90, 226, 0.5);
    
}
#entrada{
    margin: auto -10px auto auto;
    padding: 50px;
}

table,td,th{
    border-collapse: collapse;
    border: 3px solid rgba(90, 8, 90, 0.712);
    box-shadow: 2px 2px 2px royalblue;
    text-align: center;
    padding: 5px;
}
#titulodoa{
    background-color: seagreen;
    color: black;
}
th{
    background-color: slategrey;
    color: black;
}
.td{
    background-color: slategrey;
    color: black;
}
td{
    background-color: cornflowerblue;
    color: darkblue;
}
#entrada h1{
    font-size: 30px;
    color: darkblue;
}

#entrada h4{
    color: darkblue;
}
#meio{
    float: center;
    position: relative;
    bottom: 60%;
    left: 40%;
    color: darkblue;
    width: 50%;
}
#numero{
    width: 35px;
    height: 25px;
    text-align: center;
    font: 30px;
}
label{
    font-size: 30px;
}
#saida{
    float: center;
    position: relative;
    left: 50%;
    bottom: 60%;
    font-size: 30px;
    width: 50%;
}
#alt{
    width: 50px;
    float: center;
}
#debaixo{
    opacity: 0;
    float: right;
    position: relative;
    right: 5%;
    bottom: 60%;
}
#debaixo label{
    font-size: 15px;
}
button{
    outline: none;
    background-color: darkgray;
}
#saidan{
    float: center;
    position: relative;
    left: 50%;
    bottom: 30%;
    width: 50%;
}



@media only screen and (max-width:1257px){
    #cabeca{
        width: 40%;
    }

    #corpo{
        width: 60%;
    }
}

@media only screen and (max-width: 916px){

    body{
        margin-top: -4%;
    }

    #cabeca{
        width: 50%;
        height: 200px;
    }

    #corpo{
        width: 75%;
        height: 400px;
    }

    #cabeca h2{
        font-size: 30px;
        position: relative;
        top: 30%;
    }
}

@media only screen and (max-width: 745px){
    body{
        margin-top: 50%;
    }

    #corpo{
        width: 80%;
    }
}

@media only screen and (max-width: 695px){
    #corpo{
        width: 90%;
    }
}

@media only screen and (max-width: 618px){
    #corpo{
        width: 95%;
    }
}

@media only screen and (max-width: 532px){
    #cabeca{
        width: 70%;
    }

    #corpo{
        width: 100%;
    }
}

@media only screen and (max-width: 508px){
    #meio{
        position: relative;
        text-align: right;
    }

    #tabela{
        position: relative;
        right: 15%;
    }

    #saidan{
        position: relative;
        left: 5%;
        width: 60%;
    }
}

@media only screen and (max-width: 444px){
    #entrada{
        position: relative;
        bottom: 15%;
    }

    #meio{
        position: relative;
        top: -75%;
        left: 45%;
    }

    #saidan{
        position: relative;
        top: -65%;
        left: 5%;
    }
}

@media only screen and (max-width: 433px){
    #entrada, #debaixo{
        position: relative;
        bottom: 10%;
    }

    #meio{
        position: relative;
        bottom: 50%;

    }

    #debaixo{
        position: relative;
        bottom: 63%;
        right: 3%;
    }

    #saidan{
        position: relative;
        bottom: 10%;
        left: -5%;
    }

    #tabela{
        position: relative;
        right: 20%;
    }
}

@media only screen and (min-width: 360px){
    #saidan{
        position: absolute;
        bottom: 50%;
    }

}